body{
    padding: 50px;
    /* border: 1px solid red; */
    /* margin: 50px solid red; */
}
a{
    border: 1px solid red;
    padding: 5px;
    /* margin: 10px; */
    /* inline elementler sag ve soldan margin alir */
    /* display: block; */
    margin-right: 5px;
    text-decoration: none;
    background-color: darkorange;
    border-radius: 20px;
    font-size: 1.5rem;
}

a:hover{
    background-color: gray;
    color: black;
}
a:visited{
    /* color: red; */
}
a:active{
    background-color: blue;
}