h1{
    background-color: aquamarine;
    margin-top: 100px;
    padding: 20px 40px;
}
#part1{
    background-color: coral;
    /* margin-top: 0; */
    margin: 50px;
    width: 250px;
    padding: 20px;
    border: 5px solid blue;
}
#part2{
    background-color: cornflowerblue;
    /* margin: inherit; */
    padding: 40px;

}
.container{
    /* border: 2px solid rebeccapurple; */
    margin: 40px;
    background-color: bisque;
}