h1{
    background-color: aquamarine;
    margin-bottom: 0;
}
#part1{
    background-color: coral;
    /* margin-top: 0; */
    margin: auto;
    width: 250px;
}
#part2{
    background-color: cornflowerblue;
    margin: inherit;
}
.container{
    border: 2px solid rebeccapurple;
    margin: 40px;
}