/* *{
    margin: 0;
} */
.container{
    background-color: aquamarine;
}
.box1{
    background-color: orange;
}
.box2{
    background-color: olive;
    border: 3px solid red;
    /* margin: 20px 50px 90px 15px; */
    width: 100px;
    margin: 20px auto;

}
.box3{
    background-color: orange;
}
.box4{
    background-color: cyan;
}